{% extends 'base.html' %}
{% block content %}
<!--/header-->
<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-classes py-5">
        <div class="container py-lg-5 py-md-3">
            <h3 class="title-big text-center">Our Services</h3>
            <p class="mt-3">Perfect time for your next workout session</p>
        </div>
    </div>
</section>

<section class="w3l-blog-block py-5" id="classes">




 <div class="column">


    <div class="container py-lg-5 py-md-4">


        <div class="row">

            {% for x in data %}


          <div class="col-lg-3 col-md-4 item" >

                <div class="card" style="margin-bottom: 30px;">
                    <div class="card-header p-0 position-relative">
                        <a href="/single/?pid={{x.id}}">
                           
                        <img class="card-img-bottom d-block" src="{{x.image.url}}" alt="Card image cap" >
                        </a>
                        <!-- <ul class="location-top">
                            <li class="design">Yoga</li>
                        </ul> -->
                    </div>

                    <div class="card-body class-details">
                        <a href="/single/?pid={{x.id}}" class="blog-desc" style="font-size:large;">{{x.name}}
                        </a>



                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
</section>



            <!-- <div class="col-lg-4 col-md-6 item">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block" src="/static/assets/images/blog5.jpg" alt="Card image cap">
                        </a>
                        <ul class="location-top">
                            <li class="new">Fitness</li>
                        </ul>
                    </div>
                    <div class="card-body class-details">
                        <a href="#blog-single" class="blog-desc">Fitness Classes
                        </a>
 						<p class="mt-3"><span class="lnr lnr-clock"></span> <strong>Mon - Fri</strong> : 7am to 9pm</p>
 						<p class="mt-1"><span class="lnr lnr-clock"></span> <strong>Sat - Sun</strong> : 10 am to 8 pm
 						</p>
                        <div class="author align-items-center mt-3 mb-1">
                            <div class="img-circle">
                                <img src="/static/assets/images/a1.jpg" class="mr-3 img-fluid" alt="...">
                              </div>
                            <div class="author-info">
                                <a href="#author">Maxwell ker</a> <br> <span class="meta-value">Coach</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block" src="/static/assets/images/blog6.jpg" alt="Card image cap">
                        </a>
                        <ul class="location-top">
                            <li class="tip">CrossFit</li>
                        </ul>
                    </div>
                    <div class="card-body class-details">
                        <a href="#blog-single" class="blog-desc">CrossFit Classes
                        </a>
                        <p class="mt-3"><span class="lnr lnr-clock"></span> <strong>Mon - Fri</strong> : 7am to 9pm</p>
                        <p class="mt-1"><span class="lnr lnr-clock"></span> <strong>Sat - Sun</strong> : 10 am to 8 pm
                        </p>
                            <div class="author align-items-center mt-3 mb-1">
                                <div class="img-circle">
                                    <img src="/static/assets/images/a2.jpg" class="mr-3 img-fluid" alt="...">
                                  </div>
                                <div class="author-info">
                                    <a href="#author">Maxwell ker</a> <br> <span class="meta-value">Coach</span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
 -->


               <!--  <div class="container py-lg-5 py-md-4">
                            <div class="row"> -->



          
                        <!-- <p class="mt-3"><span class="lnr lnr-clock"></span> <strong>Mon - Fri</strong> : 7am to 9pm</p>
                        <p class="mt-1"><span class="lnr lnr-clock"></span> <strong>Sat - Sun</strong> : 10 am to 8 pm
                        </p> -->
                           <!--  <div class="author align-items-center mt-3 mb-1">
                                <div class="img-circle">
                                    <img src="/static/assets/images/a3.jpg" class="mr-3 img-fluid" alt="...">
                                  </div>
                                <div class="author-info">
                                    <a href="#author">Maxwell ker</a> <br> <span class="meta-value">Coach</span>
                                </div>
                            </div> -->

<!-- stats -->
<!-- <section class="w3l-stats w3l-bottom-grids-6 py-5" id="stats">
    <div class="gallery-inner container py-md-5 py-4">
        <div class="row stats-con">
            <div class="col-md-3 col-6 stats_info grids-feature area-box">
                <div class="icon">
                    <span class="lnr lnr-users"></span>
                </div>
                <p class="counter">1200</p>
                <h3>Fitness Clients</h3>
            </div>
            <div class="col-md-3 col-6 stats_info grids-feature area-box">
                <div class="icon">
                    <span class="lnr lnr-mustache"></span>
                </div>
                <p class="counter">128</p>
                <h3>Experienced Coaches</h3>
            </div>
            <div class="col-md-3 col-6 stats_info grids-feature area-box mt-md-0 mt-5">
                <div class="icon">
                    <span class="lnr lnr-gift"></span>
                </div>
                <p class="counter">146</p>
                <h3>Proud Awards</h3>
            </div>
            <div class="col-md-3 col-6 stats_info grids-feature area-box mt-md-0 mt-5">
                <div class="icon">
                    <span class="lnr lnr-smile"></span>
                </div>
                <p class="counter">285</p>
                <h3>Daily Attendees</h3>
            </div>
        </div>
    </div>
</section> -->
<!-- //stats -->
<!-- <section class="w3l-classesblock3 py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
                <h3 class="title-big">It's time for Fitness</h3>
                <h5 class="mt-3">Experience the state of the art fitness! Our studio offers qualified coaches,
                    tailor-made workouts, and the best atmosphere.</h5>
                <p class="mt-4 mb-0"> Sed in metus libero. Sed volutpat eget dui ut tempus. Fusce fring et illa
                    Morbi ac metus vitae diam sceler isque male suada eget eu mauris. Cras 
                    varius lorem ac velit, non sc mi. bibe ndum susc ipit nunc, non semper erat in. 
                    Nulla magna vel euis amet metus.</p>
                <a href="#join" class="btn-style btn-primary btn mt-lg-5 mt-4">Join Now</a>
            </div>
            <div class="col-lg-6">
                <img src="/static/assets/images/class.jpg" alt="" class="img-fluid radius-image" />
            </div>
        </div>
    </div>
</section> -->

 {% endblock %}