{% extends 'base.html' %}
{% block content %}
<!--/header-->
<!-- main-slider -->
	<section class="w3l-main-slider position-relative" id="home">
		<div class="companies20-content">
			<div class="owl-one owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h5>For the world of Fitness.</h5>
										<a class="btn btn-style btn-primary mt-md-5 mt-4" href="/service/">View Services</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info  banner-view banner-top1 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h5>For those who Work out the Hardest!</h5>
                                            <a class="btn btn-style btn-primary mt-md-5 mt-4" href="/service/">View Services</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top2 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h5>15% Off for All New Attendees!</h5>
										<a class="btn btn-style btn-primary mt-md-5 mt-4" href="/service/">View Services</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top3 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h5>Best fitness centre for Men & Women.</h5>
										<a class="btn btn-style btn-primary mt-md-5 mt-4" href="/service/">View Services</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div>
	</section>
	<!-- //banner-slider-->
<section class="w3l-homeblock1 py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5">
                <h3 class="title-big">Fitness is the Answer </h3>
                <h5 class="mt-3">Whenever the Question is your Physical Shape!</h5>
                <p class="mt-4 mb-0">Move your way to fitness. A fully equipped multi discipline facility. A systematic approach to achieving your goal of endurance, strength, flexibility and balance. Enroll yourself to our specially curated packages and start your fitness journey with us.</p>
                <a href="/about/" class="btn-style btn-primary btn mt-lg-5 mt-4">Read More</a>
            </div>
            <div class="col-lg-6">
                <img src="/static/assets/images/class.jpg" alt="" class="img-fluid radius-image"/>
            </div>
        </div>
    </div>
</section>
<!-- /bottom-grids-->
	 <section class="w3l-bottom-grids-6 py-5" id="why">
		<div class="container py-lg-5 py-md-4">
			<div class="grids-area-hny main-cont-wthree-fea row">
				<div class="col-lg-3 col-sm-6 grids-feature">
					<div class="area-box">
                        <div class="icon">
                            <span class="lnr lnr-cog"></span>
                        </div>
						<h4><a href="#feature" class="title-head">Quality Service</a></h4>
						<p>Vivamus a ligula quam. Dolor blandit eu leo non et init set ipsum corsec monec..</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 grids-feature mt-sm-0 mt-5">
					<div class="area-box">
                        <div class="icon">
                            <span class="lnr lnr-license"></span>
                        </div>
						<h4><a href="#feature" class="title-head">Spacious Gym</a></h4>
						<p>Vivamus a ligula quam. Dolor blandit eu leo non et init set ipsum corsec monec..</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-5">
					<div class="area-box">
                        <div class="icon">
                            <span class="lnr lnr-file-empty"></span>
                        </div>
						<h4><a href="#feature" class="title-head">Fitness Programms</a></h4>
						<p>Vivamus a ligula quam. Dolor blandit eu leo non et init set ipsum corsec monec..</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 grids-feature mt-lg-0 mt-5">
					<div class="area-box">
                        <div class="icon">
                            <span class="lnr lnr-users"></span>
                        </div>
						<h4><a href="#feature" class="title-head">Group classes</a></h4>
						<p>Vivamus a ligula quam. Dolor blandit eu leo non et init set ipsum corsec monec..</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
<!-- <section class="w3l-homeblock3 py-5">
 -->    

<!--  <div class="container py-lg-5">
 --><!--         <div class="row">
 --><!--             <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
 -->                <!-- <div class="border-style">
                    <h3 class="title-big mb-4">Start Your workout now</h3>
                    <p>Enter your name and email in the form below to get your first free workout at our fitness centre.
                    </p>
                </div> -->
               <!--  <div class="form-style-w3ls">
                    <input placeholder="Your Name" name="name" type="text" required="">
                    <input placeholder="Your Email" name="email" type="email" required="">
                    <button class="btn btn-style btn-primary w-100"> Join Now</button>
                </div> -->
<!--                 <h6 class="mt-2"> *Only for 5 Days </h6>
 -->            <!-- </div>
            <div class="col-lg-6">
                <img src="/static/assets/images/image.png" alt="" class="img-fluid radius-image" />
            </div -->
<!--         </div>
  -->    

<!-- </div>
 --> 

<!-- </section>
 -->
 <!-- <section class="w3l-portfolio-8 py-5" id="gallery">
    <div class="portfolio-main py-lg-5 py-md-4">
        <div class="container">
            <div class="row galler-top mt-lg-5 mt-4">
                <div class="col-md-2 col-5 protfolio-item hover14 align-self">
                    <a href="/static/assets/images/g4.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="/static/assets/images/g4.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="/static/assets/images/g5.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="/static/assets/images/g5.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="/static/assets/images/g7.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="/static/assets/images/g7.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="/static/assets/images/g9.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="/static/assets/images/g9.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 col-7 protfolio-item hover14">
                    <a href="/static/assets/images/g8.jpg" data-lightbox="example-set" class="mb-4"
                        data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="/static/assets/images/g8.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="/static/assets/images/g6.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="/static/assets/images/g6.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="/static/assets/images/g3.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="/static/assets/images/g3.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-6 protfolio-item hover14 mt-md-0 mt-4">
                    <div class="px-md-4">
                        <h3 class="title-big mb-4">Welcome to our fitness club</h3>
                        <p class="mb-md-5 mb-4"> Sed in metus libero. Sed volutpat eget dui ut tempus. Fusce fring et
                            illa tincidunt
                            laoreet
                            Morbi ac metus vitae diam sceler isque male suada eget eu mauris. Cras varius lorem ac velit
                            pharetra,
                            non sc elerisque mi vulputate.
                        </p>
                    </div>
                    <div class="row gallery-bottom">
                        <div class="col-6">
                            <a href="/static/assets/images/g1.jpg" data-lightbox="example-set" class="mb-4"
                                data-title="lorem ipsum dolor sit amet">
                                <figure>
                                    <img src="/static/assets/images/g1.jpg" alt="product" class="img-fluid radius-image">
                                </figure>
                            </a>
                            <a href="/static/assets/images/g4.jpg" data-lightbox="example-set"
                                data-title="lorem ipsum dolor sit amet">
                                <figure>
                                    <img src="/static/assets/images/g4.jpg" alt="product" class="img-fluid radius-image">
                                </figure>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="/static/assets/images/g2.jpg" data-lightbox="example-set"
                                data-title="lorem ipsum dolor sit amet">
                                <figure>
                                    <img src="/static/assets/images/g2.jpg" alt="product" class="img-fluid radius-image">
                                </figure>
                            </a>
                            <a href="/static/assets/images/g7.jpg" data-lightbox="example-set"
                                data-title="lorem ipsum dolor sit amet">
                                <figure>
                                    <img src="/static/assets/images/g7.jpg" alt="product" class="img-fluid radius-image">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="w3l-blog-block py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="heading text-center mx-auto">
            <h5 class="title-small text-center mb-2">Blog posts</h5>
            <h3 class="title-big title-big-center mb-md-5 mb-4">Most recent fitness posts</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 item">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block" src="/static/assets/images/blog1.jpg" alt="Card image cap">
                        </a>
                        <ul class="location-top">
                            <li class="new">Fitness</li>
                        </ul>
                    </div>
                    <div class="card-body blog-details">
                        <a href="#blog-single" class="blog-desc">The heavy weight of olympics: power lifting for the pros</a>
                        <p>Lorem ipsum dolor sit amet ipsum elit. Qui eligendi
                            vitae sit isque male suada.</p>
                        <div class="author align-items-center mt-3 mb-1">
                            <div class="img-circle">
                                <img src="/static/assets/images/a1.jpg" class="mr-3 img-fluid" alt="...">
                              </div>
                            <div class="author-info">
                                <a href="#author">Maxwell ker</a> <br> <span class="meta-value">July 1, 2020 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block" src="/static/assets/images/blog2.jpg" alt="Card image cap">
                        </a>
                        <ul class="location-top">
                            <li class="tip">Fitness</li>
                        </ul>
                    </div>
                    <div class="card-body blog-details">
                        <a href="#blog-single" class="blog-desc">If my last day of CrossFit were Tomorrow
                        </a>
                        <p>Lorem ipsum dolor sit amet ipsum elit. Qui eligendi
                            vitae sit isque male suada.</p>
                            <div class="author align-items-center mt-3 mb-1">
                                <div class="img-circle">
                                    <img src="/static/assets/images/a2.jpg" class="mr-3 img-fluid" alt="...">
                                  </div>
                                <div class="author-info">
                                    <a href="#author">Maxwell ker</a> <br> <span class="meta-value">July 1, 2020 </span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="#blog-single">
                            <img class="card-img-bottom d-block" src="/static/assets/images/blog4.jpg" alt="Card image cap">
                        </a>
                        <ul class="location-top">
                            <li class="design">Fitness</li>
                        </ul>
                    </div>
                    <div class="card-body blog-details">
                        <a href="#blog-single" class="blog-desc">Keeping your Fitness Goals on Track at Work
                        </a>
                        <p>Lorem ipsum dolor sit amet ipsum elit. Qui eligendi
                            vitae sit isque male suada.</p>
                            <div class="author align-items-center mt-3 mb-1">
                                <div class="img-circle">
                                    <img src="/static/assets/images/a3.jpg" class="mr-3 img-fluid" alt="...">
                                  </div>
                                <div class="author-info">
                                    <a href="#author">Maxwell ker</a> <br> <span class="meta-value">July 1, 2020 </span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="w3l-grid-slider" id="instaposts">
    <div class="grid-slider">
        <div class="">
            
            <div id="demos">
                <div class="owl-carousel owl-carousel-posts owl-theme grid-col-4">
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="/static/assets/images/g2.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="/static/assets/images/g4.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="/static/assets/images/g9.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="/static/assets/images/g10.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="/static/assets/images/g11.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="/static/assets/images/g2.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="/static/assets/images/g4.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="/static/assets/images/g9.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="item">
                        <a href="#instagram">
                            <div class="gallery-grid">
                                <div class="content">
                                    <div class="content-overlay"></div>
                                    <img src="/static/assets/images/g10.jpg" class="image-two img-responsive">
                                    <div class="content-details fadeIn-bottom">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- /slider

<!-</section> 
 <! footers 20 -->
   {% endblock %}