{% extends 'base.html' %}
{% block content %}


<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-classes py-5">
        <div class="container py-lg-5 py-md-3">
 {% for x in data %}

        <h3 class="title-big text-center">{{x.name}}</h3>
<!--             <p class="mt-3">Perfect time for your next workout session</p>
 -->     </div>
    </div>
</section>

<!-- <style >

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 60px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #556b2f;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #A52A2A;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container .add-text {
	 width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}



.form-container .add-text:focus {
  background-color: #ddd;
  outline: none;
}


</style>
 -->

	     <!-- <div class="col-md-4 single-right-left ">
	     </div> -->

<!-- 	     <li data-thumb="/static/assets/images/d2.jpg">
 -->
<!--  	<div class="ecomrhny-content-inf py-5">
 -->
 		<div class="container py-lg-5">

         <div style="float: right;margin-top: 80px">{{x.desc}}</div>


	
<!--  			<div class="sp-store-single-page row">
 -->	
	     <div class="col-md-6 single-right-left ">


<!--  					<div class="flexslider1">
 -->

<!-- 	    <div class="clearfix"></div>
 -->	
 <div class="flex-viewport" style="overflow: hidden; position: relative;">
 	               


      <div class="thumb-image" style="float: left;" > 

			<img src="{{x.image.url}}" style="width: 80%;height: 80%;object-fit: contain;" data-imagezoom="true" class="img-responsive"> </div>



				<div style="float: right;margin-top: 100px">
				<a class="read-more btn" href="/details/" style="background-color: #bccad6;color: black;margin-left: 20px">
				          Get  best prices  
				</a>
       </div>

                   <!--  <h4 style="text-align: center ;color: red ">{{error}}</h4>


<div class="form-popup" id="myForm">
  <form action="/single/" class="form-container method="post"">
    {% csrf_token %}

    <h1 style="font-size: 30px">Enter your details</h1>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Your Name" name="name" required>

    <label for="phone"><b>Phone Number</b></label>
    <input type="text" placeholder="Enter Phone Number" name="phone" required>

    <label for="address"><b>Address</b></label>
    <textarea class="add-text" name="address" placeholder="Enter your address"
	required=""></textarea>    

	<button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div> -->














<!-- <script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script> -->




           </div>
           </div>
       <!-- </div> -->


<!-- </div>
 -->
</div>








			


					{% endfor %}



{% endblock %}